body {
    background-color: slategray;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Architects Daughter';
    text-align: left;
}
/* TEXT:     TITLE AT TOP OF PAGE:   FACTORING X^2 + BX + C */
p {
    color: black;
    font-size: 1.5rem;
    text-shadow: 0.5px 0.5px 0.5px lawngreen;
    text-align: center;
}
#p2 {
    color: black;
    font-size: 1.5rem;
    text-shadow: 0.5px 0.5px 0.5px lawngreen;
    text-align: left;
}
/* IMAGE:   DIAMOND MATH CONCEPT DIAGRAM */
#img1 {
    width: 10rem;
    height: auto;
    border: 2px black solid;
    outline: 1px red solid;
    margin: 10px;
}
/* IMAGE:     DIAMOND MATH WITH GREY CIRCLES */
#img2 {
    width: 11rem;
    height: 13.5rem;
    border: 2px black solid;
    outline: 1px red solid;
    margin: 10px;
}
/* TEXT PARAGRAPH:      EXAMPLE #1 EXPLANATION */
h1 {
    font-size: 1.2rem;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}
/* TEXT:  EXAMPLE 1 FACTOR X^2 + 5X + 6 */
#example1 {
    font-size: 1.3rem;
    margin-left: 40px;
    color: black;
    text-shadow: 0.5px 0.5px 0.5px red;
    text-align: left;
}
/* IMAGE:     DIAMOND MATH EMPTY CONCEPT DIAGRAM */
#diamondMathDiagram {
    width: 11rem;
    height: 13.5rem;
    border: 2px black solid;
    outline: 1px red solid;
    margin: 10px;
}
/* IMAGE:     EXAMPLE 1 FILLED IN WITH 5 AND 6. */
#exampleOneDiagram {
    width: 11rem;
    height: 13.5rem;
    border: 2px black solid;
    outline: 1px red solid;
    margin: 10px;
}
/* TEXT-BOX:    ENTER THE FIRST AND SECOND NUMBERS */
#varA, #varB, #varA2, #varB2, #varA3, #varB3, #varA4, #varB4 {
    width: 10%;
    height: 50px;
    font-size: 1.5rem;
    color: white;
    background: black;
    border: 2px red solid;
    outline: 2px white solid;
    text-align: center;
    margin: 10px;
    margin-left: 45px;
    margin-right: 45px;
    padding: 10px;
    font-family: 'Architects Daughter';
}
#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7 {
    width: 30%;
    height: 60px;
    font-size: 0.8rem;
    color: white;
    background: black;
    border: 2px red solid;
    outline: 2px white solid;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;
    font-family: 'Architects Daughter';
}
#demo1, #demo3, #demo5, #demo7 {
    width: 20%;
    height: 60px;
    font-size: 1rem;
    color: white;
    background: black;
    border: 2px red solid;
    outline: 2px white solid;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    font-family: 'Architects Daughter';
}
#demo2, #demo4, #demo6, #demo8 {
    width: 80%;
    height: 30px;
    font-size: 1rem;
    color: white;
    background: black;
    border: 2px red solid;
    outline: 2px white solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Architects Daughter';
    padding: 15px;
}
#pic1, #pic2, #pic4, #pic5, #pic6, #pic7, #pic8, #pic9, #pic10, #pic11, #pic12, #pic13, #pic14 {
    width: 30%;
    height: auto;
    margin-top: 15px;
    border: 2px red solid;
    outline: 2px white solid;
}
footer {
    text-align: center;
    font-size: 1rem;
}




